body {
    margin: 0;
    padding: 0;
    background: #222222;
    font-family: Arial, sans-serif;
}

.navbar {
    display: flex;
    flex-direction: column;
    padding: 0px 120px;
    background: #222222;
    box-shadow: 0 4px 20px 20px rgba(0, 0, 0, 0.1);
}

.navbar_top {
    display: flex;
    justify-content: center;
    margin-top: 8px;
    margin-bottom: 16px;
}

.navbar_logo {
    width: 102px;
    height: 74px;
}

.navbar_bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
}

.nav_leftnavigation {
    display: flex;
    gap: 32px;
    width: 400px;
}

.nav_rightnavigation {
    display: flex;
    gap: 32px;
    width: 400px;
    justify-content: flex-end;
}

.navbar_nav_link {
    text-decoration: none;
    font-size: 18px;
    color: #DDDDDD;
    padding: 16px 8px;
}

.navbar_nav_selected_link {
    text-decoration: none;
    font-size: 18px;
    font-family: 600;
    color: #D1C7BE;
    padding: 16px 8px;
    border-bottom: 2px solid #D1C7BE;
}

.nav_search {
    border: 1px solid #DDDDDD;
    border-radius: 8px;
    height: 24px;
    padding: 8px;
    width: 282px;
    display: flex;
    align-items: center;
}

.navbar_search_icon {
    width: 24px;
    height: 24px;
    margin-right: 8PX;
}

.navbar_search_placeholder {
    margin: 0;
    padding: 0;
    background: none;
    border: none;
    width: 100%;
}

.navbar_search_placeholder::placeholder {
    color: #DDDDDD;
    font-size: 16px;
}

.navbar_search_placeholder:focus,
.navbar_search_placeholder:not(:focus) {
    color: #DDDDDD;
    font-weight: 500;
    outline: none;
}